<!DOCTYPE html>
<html>
<head>
	<title>Chat</title>
	<link rel="stylesheet" href="./css/chatstyle.css">
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
	<link rel="shortcut icon" type="image/png" href="./media/icons/favicon.png"/>

	<script src="./js/socket.io.js"></script>
	<script src="./js/socket.io.fileupload.js"></script>
	<script src="./js/delivery.js"></script>
	<script src="./js/jquery.js"></script>
	<script src="./js/chat.js"></script>
	<script src="./js/fileupload.js"></script>
	<script src="./js/popper.js"></script>
	<script src="./js/js.cookie.js"></script>
	<script src="./bootstrap/js/bootstrap.js"></script>
</head>
<body>
	<div id="main">
		<div id="top">
			<nav class="navbar" id="navbar">
				<h2 class="logo"></h2>
				<div class="btn-grp-nav">
				<a class="btn-nav" id="checkFileList" onclick="openFileListModal()">Lista Plików</a>
				<a class="btn-nav" id="logout" onclick="logout()">Logout</a>
			</div>	
			</div>
		</div>
		<div id="mid">
			<div id="mainchatdiv">
				<div id="chatroom">
					<div id="feedback">
					</div>
					<div id="chat">	
					</div>
				</div>
				<div id="chatinteraction">
					<input id="message" type="text" name="message">
					<button class="send-button" title="Send Message" id="send_message">...........</button>
					<button class="file-button" title="Send File" onclick="document.getElementById('getfiles').click()">
						...........
					</button>
					<input type="file" name="file" id="getfiles" onchange="sendfile(event)" style="display: none;">
					
					<!-- <button id="checkrooms" onclick="test()">Tests</button> -->
				</div>
			
			</div>
			<div id="userlistdiv">
				<input type="text" id="searchuser" onkeyup="searchuser()" placeholder="Search for user">
				<ul id="userlist">
					
				</ul>
			</div>
		</div>
		
		<div id="modalsdiv">
			
			<div id="filelistmodal" class="modal" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">Lista Plików</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      	<ul id="fileList">
			      		
			      	</ul>
			      </div>
			    </div>
			  </div>
			</div>

		</div>


	</div>

</body>
</html>