<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="./css/loginstyle.css">
	<link rel="shortcut icon" type="image/png" href="./media/icons/favicon.png"/>

	<script src="./js/jquery.js"></script>
	<script src="./js/popper.js"></script>
</head>
<body>
	
	<div class="container">
		<h2 class="title">Log In</h2>
		<form class="login_form" id="logform" method="POST">
			<input placeholder="Email" class="login_form--input" type="email" name="email" id="email" required>
			<input placeholder="Password" class="login_form--input" type="password" name="password" id="password" required>
			<div class="btn_group">
			<input class="login_form--loginbutton" id="loginbutton" type="submit" value="Login">
			<button class="login_form--registerbutton" id="registerbutton" onclick="registerform()">Sign In</button>
			</div>
		</form>
		
	</div>
	<script type="text/javascript">
		function setCookie(cname, cvalue, exhours) {
		  var d = new Date();
		  d.setTime(d.getTime() + (exhours * 60 * 60 * 1000));
		  var expires = "expires="+d.toUTCString();
		  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		}
		function registerform(){
			window.location.href = "/register"
		}

		$("#logform").submit(function(e){
			e.preventDefault()

			var email = document.getElementById("email").value.toString()
			var password = document.getElementById("password").value.toString()

			var formData = JSON.stringify({"user": {"email": email,"password": password}});
			xhr = new XMLHttpRequest();
			var url = "/api/users/login";
			xhr.open("POST", url, true);
			xhr.setRequestHeader("Content-type", "application/json");
			xhr.onreadystatechange = function () { 
			    if (xhr.readyState == 4 && xhr.status == 200) {
			        var json = JSON.parse(xhr.responseText);
			        setCookie("Authorization", "Token " + json.user.token, 1)
			        setCookie("Nickname", json.user.nickname, 1)

			    }
			}
			xhr.send(formData);
			setTimeout(function(){
				window.location.href = "/chat"
			}, 5)
		})
	</script>
</body>
</html>