<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" href="./css/registerstyle.css">
	<link rel="shortcut icon" type="image/png" href="./media/icons/favicon.png"/>

	<script src="./js/jquery.js"></script>
	<script src="./js/popper.js"></script>
</head>
<body>
	<div class="container">
			<h2 class="title">Log In</h2>
		<form id="regform"class="reg_form">
		 <input type="text" class="reg_form--input"  placeholder="Nickname"  name="Nickname" id="nickname"><br>
		 <input type="email" class="reg_form--input" placeholder="Email"  name="email" id="email"><br>
		 <input type="password" class="reg_form--input" placeholder="Password" name="password" id="password"><br>
		<div class="btn-grp">
		 <input  class="reg_form--submitbutton" type="submit" value="Submit">
			<button type="button" class="reg_form--loginbutton" name="login" onclick="loginform()">Login</button>
		</div>	
	</form>
	
	</div>
	<script type="text/javascript">
		function loginform(){
			window.location.href = "/"
		}

		$("#regform").submit(function(e){
			e.preventDefault()

			var nickname = document.getElementById("nickname").value.toString()
			var email = document.getElementById("email").value.toString()
			var password = document.getElementById("password").value.toString()

			var formData = JSON.stringify({"user": {"nickname": nickname,"email": email,"password": password}});
			xhr = new XMLHttpRequest();
			var url = "/api/users";
			xhr.open("POST", url, true);
			xhr.setRequestHeader("Content-type", "application/json");
			xhr.onreadystatechange = function () { 
			    if (xhr.readyState == 4 && xhr.status == 200) {
			        var json = JSON.parse(xhr.responseText);
			        console.log(formData)
			    }
			}
			xhr.send(formData);
			setTimeout(function(){
				window.location.href = "/"
			}, 10)
		})
	</script>
</body>
</html>