#main {
  display: flex;
  flex-direction: column;
}

.navbar {
 background-color: rgb(43, 41, 41);
 padding: 0px;
}
.logo {
  justify-content: flex-start;
  color: rgb(243, 232, 202);

}
.btn-grp-nav {
  justify-content: flex-end;
}
body{
  background-color: #414242;
}
a{
  float: left;
  color:  rgb(241, 238, 238) !important;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
a:hover {
  background: #8c9194  ;
  text-decoration: none;
}
#mid {
  display: flex;
  flex-direction: row;
  height: 64rem;
}
.send-button {
  background-image: url(Pics/sendico.png);
  background-size: 48px ;
  background-color:rgba(59, 58, 58, 0);
  margin-right: 20px;
  border: none;
  color: rgba(255, 255, 255, 0);
}
.file-button {
  background-image: url(Pics/addfile.png);
  background-size: 48px ;
  background-color:rgba(59, 58, 58, 0);
  margin-right: 20px;
  border: none;
  color: rgba(255, 255, 255, 0);
}
#mainchatdiv{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 0.8;
  width: 60%;
  background-color: #3b3d3f;
  border: solid 1px #2e3031;
}

#chatroom{
    overflow-y: scroll;
 
}

#chatinteraction{
  display: flex;
  flex-direction: row;
}

#message{
  flex-grow: 1 ; 
  background-color: #4c4e50c7; 
  margin: 10px 25px 12px 5px; 
  border-radius: 20px;
  border-color: #2d3238c7;
  color: rgb(230, 229, 196);
}

.message{
  flex-wrap: wrap;
  border: solid 1px rgb(87, 85, 85);
  color: rgb(238, 237, 223);
  padding: 4px;
  margin: 1px;
}

#userlistdiv{
  flex-grow: 0.2; 
  background-color: #414242
}

#searchuser {
  background-image: url('../media/icons/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  margin-bottom: -14px; /* Add some space below the input */
}

#userlist {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  

}

#userlist li a {
  margin-top: -1px; /* Prevent double borders */
  background-color: #252424; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  width: 100%;
  border: solid 1px rgb(59, 58, 58);
  border-left: 1px;
}

#userlist li a:hover:not(.header) {
  background-color: rgb(73, 70, 70); /* Add a hover effect to all links, except for headers */
}