
* {
    box-sizing: border-box;
}
body {
    background-image: url(pics/background.jpg);
    background-size: 1650px;

}
h2{
    color: rgba(247, 247, 247, 0.678);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container
{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 20rem auto;
    overflow: hidden;
   
}
.reg_form
{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    min-height: 350px;
    min-width: 300px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: rgba(3, 5, 31, 0.774);
    border-radius: 3px;

}

.reg_form > * {
    margin: 10px 0;
}
.reg_form--input
{
    margin-top:20px;
    width: 90%;
    border-radius: 10px;
    padding: 10px 10px;
}

.reg_form--submitbutton
{
    border-radius: 31px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #0d0330;
  padding: 10px 20px 10px 20px;
  border: solid #14043a 2px;
  text-decoration: none;

}
.reg_form--loginbutton
{
    border-radius: 31px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #0d0330;
  padding: 10px 20px 10px 20px;
  border: solid #14043a 2px;
  text-decoration: none;
  margin-left: 15px;
}
.reg_form--submitbutton:hover {
    background: #250692;
    text-decoration: none;
    transition: 0.25s ease;
    cursor: pointer;
  }
.reg_form--loginbutton:hover {
    background: #250692;
    text-decoration: none;
    transition: 0.25s ease;
    cursor: pointer;
  }
.btn-grp {   
    flex-direction: row;
    display: flex;
    margin-top: 25px;
}